.body{
  background-color: #FFF!important;

}
#header_1{
  background-color: #00b8d4
}

#nav a{
	background-color: #fff;
	 /*color: white;
	 padding: 30px;*/
           
}
/*#nav a:hover,
#nav a:focus,
#nav a .active{
	border-top: 2px solid ;          
}*/
#nav_1{
background-color: #00b8d4; 
color: white;
/*border-top: 1px solid;*/
           
}
.am-logo img{
	width:210px;

}
@media only screen and (max-width: 500px) {
  .am-logo img{
    width: 130px;
    padding-top: 0px;
  }
  .am-logo{
    padding-top: 0px;
  }
}
.signin-logo img{
	padding-bottom: 10px;
}

#signInForm .has-error .control-label,
#signInForm .has-error .help-block,
#signInForm .has-error .form-control-feedback {
    color: #f41f55;
    /*font-size: 2em;*/
    border-color: red;
}

.dropdown-menu{
  background-color: background-color: #80ccff;
}
/*card body bg and tranparen bg background-image: url('../img/bg_blur.jpg'*/
.card{
  /*background-color: yellow;*/
  /*background-image: url('../img/bg_blur.jpg');*/
}
input[type=text],
input[type=password]{
  text-transform:uppercase;
}

input[type=text],
input[type="password"],
input[type="email"],
input[type="date"]{
    background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:#00b8d4;
    border-width: 1px;
    outline: none; 
    outline: none;
    /*color: #00b8d4;*/
}
 
 input[type=password]:focus, 
 input[type=email]:focus, 
 input[type=text]:focus, 
 input[type=datetime-local]:focus {
    background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    /*border-color:red;*/
    border-width: 1px;
    outline: none; 
    outline: none;
    /*color: #00b8d4;*/
}
.time input[type=text]{
  text-align: center;
}
/*select{
    width: 240px;
    height: 30px;
    background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:aqua;
    border-width: 1px;
    color: #FFF;
}
select:focus
{
  background: transparent;
    outline: none; 
    outline: none;
     color: white;
}*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  /*border: 0 !important;*/
  /*background: #2c3e50;*/
  background: transparent;
  border-right-style:none;
  border-left-style:none; 
  border-top-style:none;
  border-color:#00b8d4;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  /*width: 10em;*/
  height: 2.8em;
  line-height: 3;
  /*background: #2c3e50;*/
  overflow: hidden;
  border-radius: .25em;
  /*opacity: 0.6;*/
  /*color: gray;*/
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #333;
  /*cursor: pointer;*/
}
option{
  color: #00b8d4;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /*padding: 0 1em;*/
  /*background: #34495e;*/
  pointer-events: none;
}
/* Transition */
/*.select:hover::after {
  color: #f39c12;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}*/



/*.has-error input{
}*/
/*.left{
	background-color: #00b8d4;
}*/

/*.am-signin-box > .row > div:first-child,
.am-signup-box > .row > div:first-child {
	background-color: #00b8d4;
  	background-image: linear-gradient(to bottom, #FB9337 0%, #fb861e 100%);
}*/
/* The container */

fieldset {
  overflow: hidden
}

.some-class {
  float: left;
  clear: none;
}
.user-type label {
  float: left;
  clear: none;
  display: block;
  padding: 1px 3em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 5px 1px 0 0px;
}
.rdiobox span{
  font-size: 0.9em;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    /*cursor: pointer;*/
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} 
input:disabled,
input[disabled]{
   background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:#00b8d4;
    border-width: 1px;
    outline: none; 
    outline: none;
    color: #00b8d4;
}
#radioBtn {
  padding-left: 30px;
}
#radioBtn .btn-custom{
  background-color: #00b8d4;
  border: 1px solid #00b8d4;
  color: #FFF;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
#radioBtn .active{

}

/*dashboard*/
.dash-img{
  text-align: center;
  padding-bottom: 0px;
  padding-top: 20px;
}
.dash-img img{
  margin-right: 5px;
  height: 50px;
}
.btn-more{
  border: 1px solid;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 5px 15px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.image-area{
  height: 100px;
  width: 100px;
  /*border: 1px solid #333;*/
}
.image-area img{
  height: 100px;
  width: 100px;
  border: 1px solid #333;
}
/*input[readonly]
{
    background-color:red;
}*/

.prk_button{
  background-color: #00b8d4;
  color: #FFF;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}
.prk_button_skip{
  background-color: transparent;
  border: 1px solid #00b8d4;
  color: #00b8d4;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}
.prk_button:hover,
.prk_button_skip:hover{
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"]:disabled{
  background-color: #fafafa;
  color: gray;
}
input[type="text"]:readonly{
  background-color: #fafafa;
  color: gray;
}
.readonly{
  background-color: #fafafa !important;
  color: gray !important;
}
.pdf-print a:hover{
  color: #FFF;
}

.profile-body{
  background-position: right top;
}
.prk-name{
  color: #FFF;
  font-weight: bold;
  padding-top: 20px;
  font-size: 2.8em;
}
.prk-address{
  color: #FFF;
}

.am-pagebody .single{
  min-height: 505px;
}
.prevent_readonly{
  background-color: transparent!important;
}