#signInForm .has-error .control-label,
#signInForm .has-error .help-block,
#signInForm .has-error .form-control-feedback {
    color: #f41f55;
    font-size: 0.8em;
    /*border-color: red;*/
}
label.error {
  /*height:10px;
  border-top:1px solid #99182c;
  border-right:1px solid #99182c;
  border-bottom:1px solid #99182c;
  margin-left:9px;
  padding:1px 5px 0px 5px;*/
  padding: 0px !important;
  margin: 0px !important;
  font-size:small;
  color: #FFA07A;
}
/*input[type=text],
input[type=password]{
  text-transform:uppercase;
}*/

input[type=text],
input[type="password"],
input[type="email"],
input[type="date"]{
    background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:#DCDCDC;
    border-width: 2px;
    outline: none; 
    outline: none;
    color: #00b8d4;
    padding-left: 0px !important;
    padding-bottom: 5px !important; 
}
 
#message{
    /*background-color: red;*/
    background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:#DCDCDC;
    border-width: 2px;
    outline: none; 
    outline: none;
    color: #00b8d4;
    padding-left: 0px !important;
    padding-bottom: 5px !important; 
}
 input[type=password]:focus, 
 input[type=email]:focus, 
 input[type=text]:focus, 
 input[type=datetime-local]:focus,
 textarea:focus{
    background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:#00b8d4 !important;
    border-width: 2px;
    outline: none; 
    outline: none;
    color: #778899;
}
.user-type label {
  float: left;
  clear: none;
  display: block;
  padding: 1px 3em 0 0;
}

/*floating*/
input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: -10px;
  /*bottom: 140px;*/
  left: 15px;
  font-size: 11px;
  opacity: 0.9;
  color: #00b8d4;
}

textarea:focus ~ .floating-label,
textarea:not(:focus):valid ~ .floating-label{
  top: -10px;
  /*bottom: 140px;*/
  left: 15px;
  font-size: 11px;
  opacity: 0.9;
  color: #00b8d4;
}
/*.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}*/

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 10px;
  transition: 0.2s ease all;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 5px 1px 0 0px;
}
.rdiobox span{
  font-size: 0.9em;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    /*cursor: pointer;*/
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} 
input:disabled,
input[disabled]{
   background: transparent;
    border-right-style:none;
    border-left-style:none; 
    border-top-style:none;
    border-color:#DCDCDC;
    border-width: 2px;
    outline: none; 
    outline: none;
    color: #oppr-ui;
}
#radioBtn {
  padding-left: 10%;
  text-align: center;
}

#radioBtn .btn-custom{
  background-color: #00b8d4;
  border: 1px solid #00b8d4;
  color: #FFF;
}
#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
/*#radioBtn .active{

}
*/
.prk_button{
  background-color: #00b8d4;
  color: #FFF;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}
.prk_button_skip{
  background-color: transparent;
  border: 1px solid #00b8d4;
  color: #00b8d4;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}
.prk_button:hover,
.prk_button_skip:hover{
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"]:disabled{
  background-color: #fafafa;
  color: gray;
}
input[type="text"]:readonly{
  background-color: #fafafa;
  color: gray;
}
.readonly{
  background-color: #fafafa !important;
  color: gray !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  /*border: 0 !important;*/
  /*background: #2c3e50;*/
  background: transparent;
  border-right-style:none;
  border-left-style:none; 
  border-top-style:none;
  border-color:#00b8d4;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  /*width: 10em;*/
  height: 2.8em;
  line-height: 3;
  /*background: #2c3e50;*/
  overflow: hidden;
  border-radius: .25em;
  /*opacity: 0.6;*/
  /*color: gray;*/
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #333;
  /*cursor: pointer;*/
}
option{
  color: #00b8d4;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  /*padding: 0 1em;*/
  /*background: #34495e;*/
  pointer-events: none;
}
/*--*/
/*.f-copy{
  padding-top: 100px;
}*/
.am-signup-box,
.am-signin-box{
  width: 100% !important;
  height: 100% !important;
}
.no-gutters{
  /*height: 600px !important;*/
  min-height: 100vh !important;

}
/*.signin-logo{
  text-align: left !important;
}
.signin-logo img{
  width :220px !important;
  padding-bottom: 40px;
}*/
.features-icon{
  text-align: center !important;
  color: #FFF;
}
.features-icon i{
  border: 1px solid #00b8d4;
  padding: 20px 0;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  /*background-color: #00b8d4*/
}
.content{
  text-align: left !important;
}

/*.custom-width{
  padding-left: 100px !important;
  padding-right: 100px !important;
}*/
.am-signin-box > .row > div:last-child{
  padding: 15px 100px 10px 100px !important;
}
.am-signup-box > .row > div:last-child{
  padding: 15px 50px 10px 50px !important;
}
.btn-tab{
  background-color: transparent;
  color: #fff;
  height: 40px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #FFF;
  /*border-radius: 25px;*/
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoratfion-skip: objects;

}
.btn-tab:hover {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
.disabled{
  background-color: gray!important;
 }
 #view{
  background-color: #00b8d4;
  border: none;
  padding: 5px 10px 5px 10px;
  margin-top: 2px;
  color: #FFF;
 }
@media only screen and (max-width: 500px) {
  .custom-width{
     padding: 15px 40px 10px 40px !important;
  }
  .am-signup-box,
  .am-signin-box{
    width: 100% !important;
  }
  .no-gutters{
    height: 500px !important;
  }
}