.pickmeup{background:#33adff;
	border-radius:.4em;-moz-box-sizing:content-box;
	box-sizing:content-box;
	display:inline-block;
	position:absolute;
	touch-action:manipulation}
	.pickmeup *{-moz-box-sizing:border-box;box-sizing:border-box}
	.pickmeup.pmu-flat{position:relative}
	.pickmeup.pmu-hidden{display:none}
	.pickmeup .pmu-instance{display:inline-block;height:13.8em;padding:.5em;
	text-align:center;width:15em}
	.pickmeup .pmu-instance .pmu-button{color:#eee;cursor:pointer;outline:none;text-decoration:none}
	.pickmeup .pmu-instance .pmu-today{background:#136a9f;color:#eee}
	.pickmeup .pmu-instance .pmu-button:hover{background:transparent;color:#88c5eb}
	.pickmeup .pmu-instance .pmu-not-in-month{color:#666}
	.pickmeup .pmu-instance .pmu-disabled,
	.pickmeup .pmu-instance .pmu-disabled:hover{color:#333;cursor:default}
	.pickmeup .pmu-instance .pmu-selected{background:#136a9f;color:#eee}
	.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{background:#17384d}
	.pickmeup .pmu-instance
	 nav{color:#eee;display:-ms-flexbox;display:-webkit-flex;display:flex;line-height:2em}
	 .pickmeup .pmu-instance nav *:first-child :hover{color:#88c5eb}
	 .pickmeup .pmu-instance nav .pmu-prev,
	 .pickmeup .pmu-instance nav .pmu-next{display:none;height:2em;width:1em}
	 .pickmeup .pmu-instance nav .pmu-month{width:14em}
	 .pickmeup .pmu-instance .pmu-years *,
	 .pickmeup .pmu-instance .pmu-months *{display:inline-block;line-height:3.6em;width:3.5em}
	 .pickmeup .pmu-instance .pmu-day-of-week{color:#FFF;cursor:default}
	 .pickmeup .pmu-instance .pmu-day-of-week *,
	 .pickmeup .pmu-instance .pmu-days *{display:inline-block;line-height:1.5em;width:2em}
	 .pickmeup .pmu-instance .pmu-day-of-week *{line-height:1.8em}
	 .pickmeup .pmu-instance:first-child .pmu-prev,
	 .pickmeup .pmu-instance:last-child .pmu-next{display:block}
	 .pickmeup .pmu-instance:first-child .pmu-month,
	 .pickmeup .pmu-instance:last-child 
	 .pmu-month{width:13em}.pickmeup .pmu-instance:first-child:last-child 
	 .pmu-month{width:12em}.pickmeup:not(.pmu-view-days) .pmu-days,
	 .pickmeup:not(.pmu-view-days) .pmu-day-of-week,.pickmeup:not(.pmu-view-months) 
	 .pmu-months,.pickmeup:not(.pmu-view-years) .pmu-years{display:none}
