  .size{
    font-size: 11px;
  }
.error_size{
  font-size: 11px;
  color: gray;

}
.success{
  font-size: 11px;
  color: green;
}

/*image*/
.bgColor {
      max-width: 440px;
      height: 400px;
      background-color: #fff4ca;
      padding: 30px;
      border-radius: 4px;
      text-align: center;    
    }
    .upload-preview {border-radius:4px;width: 200px;height: 200px;}
    #body-overlay {background-color: rgba(0, 0, 0, 0.6);z-index: 999;position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;}
    #body-overlay div {position:absolute;left:50%;top:50%;margin-top:-32px;margin-left:-32px;}
    #targetOuter{ 
      position:relative;
      text-align: center;
      background-color: #F0E8E0;
      margin: 20px auto;
      width: 200px;
      height: 200px;
      border-radius: 4px;
    }
    .btnSubmit {
      background-color: #565656;
      border-radius: 4px;
      padding: 10px;
      border: #333 1px solid;
      color: #FFFFFF;
      width: 200px;
      cursor:pointer;
    }
    .inputFile{
      margin-top: 0px;
      left: 0px;
      right: 0px;
      top: 0px;
      width: 200px;
      height: 36px;
      background-color: #FFFFFF;
      overflow: hidden;
      opacity: 0;
      position: absolute;
      cursor: pointer;
    }
    .icon-choose-image {
      position: absolute;
      /*opacity: 0.5;*/
      top: 50%;
      left: 50%;
      margin-top: -24px;
      margin-left: -50px;
      width: 100px;
      height: 100px;
      cursor:pointer;
      color: #FFFFFF;
    }
    .edit-text{
      font-size: 1.5em;
      margin-top: -15px;
      color: #FFF;
    }
    #profile-upload-option{
      display:none;
      position: absolute;
      top: 163px;
      left: 23px;
      margin-top: -70px;
      margin-left: -24px;
      border: #33ADFF 1px solid;
      border-radius: 4px;
      background-color: #FFFFFF;
      width: 150px;
    }
    .profile-upload-option-list{
      margin: 1px;
      height: 35px;
      /*border-bottom: 1px solid #cecece;*/
      cursor: pointer;
      position: relative;
      padding:5px 0px;
    }
    .profile-upload-option-list:hover{
      background-color: #33ADFF;
    }
  input[type="file"] {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }
