.bill-to ul li
{
	list-style: none;
}
.table thead th
{
	vertical-align: middle!important;
}
.no-w
{
	width: 6%;
}
.td-w
{
	width: 30%;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.borderless p {
	font-size: 11px;
}
.wage_bill {
	display: block;
    width: 100%;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.wage_bill p{
	text-align: center;
}
.Additional_dtl{
	display: block;
    width: 100%;
    color: #fff;
    background-color: #accde8;
    border-color: #2e6da4;
   
}
.Additional_dtl p{
	text-align: center;
}
.bill_details{
	display: block;
    width: 100%;
    color: #1e93f3;
    background-color: #efd3ee;
    
}
.bill_details p{
	padding-left: 25px;
}

.site_list_wage{
	display: block;
    width: 100%;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    height: 42px;
}

.site_list_wage p{
	text-align: center;
	padding-top: 7px;
}