/*
#######################################################
# Description: custom CSS for signup-thanks.php
# Developed by: Soemen Banerjee
# Created Date: 18-03-2018
#######################################################
*/
body{
        background-color: #FFF;
    }
    .heaing{
        background-color: #00b8d4;
    }
    .tick-icon{
        color: #79C349; padding: 10px;
        border-radius: 100px;
        border:1px solid;
        margin-bottom: 10px;
    }
    .contact-details{
        border: 1px solid;
        padding: 15px;
        border-radius: 25px;
        margin-left: 30%;
        margin-right: 30%;
        background-color: #00b8d4;
        color: #fff;
    }
    .footer p{
        padding-top: 5px;
        margin: 5px;
    }
    .social a{
        margin-left: 10px;
        margin-right: 10px;
        color: #00b8d4;
    }